body{
    margin:0px;
    padding:0px;
}

.side-bar {
    background-color:#040e2a;
    height: 100%;
    width: 250px;
    display:flex;
    justify-content: start;
    align-items: center;
    position:fixed;
    top:0;
    transition: 850ms;
    z-index: 4000;
}

.row {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 8px 0px 8px;
    list-style: none;
    height: 60px;
    width: 100%;
}

.row a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    padding-left: 16px;
    border-radius: 4px;
}

.row a:hover{
background-color:#00E8FC;
border-radius: 0px;
color: #000;
font-weight:500;
}

.SidebarList{
    width: 100%;
}

span{
    margin-left: 16px;
}

