h1 {
  font-size: 20px;
  color: white;
  margin: 20px;
}

.recipe {
border-radius: 10px;
box-shadow: 0px 5px 20px black;
margin: 40px;
display: flex;
flex-direction: column;
justify-content: space-around;
background: #F96E46;
align-items: center;
min-width: 40%;
}

.image {
border-radius: 50%;
width: 200px;
height: 200px;
margin-bottom: 20px;
}
