* {
  margin: 0;
  padding: 0;
}
.page {
  height: 80vh;
  background-color: f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: auto;
  width: 300px;
  border-radius: 10px;
  background-color: #ffb400;
  margin-top: 120px;
}
.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  font-weight: bold;
}
.img-holder {
  margin: auto;
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 5px;
  margin-top: 1rem;
}
.img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
#input[type="file"] {
  display: none;
}
.label {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.image-upload {
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.preferences {
  /* display: inline-block; */
  /* display: inline-block; */
  margin:-40px ;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#dietNeeds{
  display: inline-block;
  text-align: center;
}

.birthday-container {
  margin: center;
  margin-bottom: 140px;
}
