* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  position: relative;
  z-index: 2;
}

.page-heading h1 {
  font-size: 5rem;
  color: #fff;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 20px;
  border-radius: 2px;
}

.App {
  min-height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  margin-top: 25px;
  width: 50%;
  border: none;
  padding: 15px;
  border-radius: 50px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.app-healthLabels {
  border: none;
  padding: 15px;
  border-radius: 50px;
  margin-top: 25px;
  margin-left: 10px;
}

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #fff;
  z-index: 1;
  background: #ffb400;
  position: relative;
  font-weight: bolder !important;
  font-size: 17px;
  overflow: hidden;
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  cursor: pointer;
}
