.auth-form-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("foodBackground.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.auth-form-header {
  margin-bottom: 20px !important;
  font-weight: 600 !important;
  font-size: 25px !important;
  color: #00e8fc !important;
}
.auth-form-header font{
  color: #C867FF;
}

.paragraph-line {
  color: lightgray !important;
  font-size: 15px !important;
  margin-bottom: 20px !important;
  padding: 0px !important;
}

.auth-form-card {
  margin: 0 auto !important;
  width: 350px !important;
  padding: 20px !important;
  background-color: white !important;
  border-radius: 25px !important;
}

.form-labels {
  text-align: left;
}

.auth-form-fields,
.auth-form-buttons {
  margin-top: 20px;
}

.auth-form-buttons {
  width: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.logout-button {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
